body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.header-top {
    background-color: #1E2A45;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}

.name {
    background-color: #1E2A45;
    color: white;
    font-size: 35px;
    font-family: 'Copperplate';
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 85px;
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-info p {
    margin: 0;
    margin-right: 15px;
}

.book-now {
    background-color: #C63535;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.navbar {
    background-color: white;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #1E2A45;
    font-weight: bold;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;

}

h2 {
    color: #2c3e50;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    color: #333;
}

ul li {
    background: url('checkmark.png') no-repeat left center;
    padding-left: 30px;
    margin-bottom: 10px;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer Styles */
.footer {
    background-color: #1E2A45;
    color: #fff;
    padding: 20px 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
  }
  
  .footer-section h2 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .footer-section p {
    font-size: 14px;
    color: #ccc;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #ccc;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    color: #fff;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-bottom p {
    font-size: 14px;
    color: #ccc;
  }
  
  .footer-section.social ul {
    display: flex;
    padding: 0;
  }
  
  .footer-section.social ul li {
    margin-right: 15px;
  }
  
  .footer-section.social ul li a {
    display: flex;
    align-items: center;
    color: #ccc;
  }
  
  .footer-section.social ul li a:hover {
    color: #fff;
  }